torch==1.7.1    # https://pytorch.org/get-started/previous-versions/                                        
                # pip3 install torch==1.7.0 torchvision==0.8.1 -f https://download.pytorch.org/whl/cu101/torch_stable.html  # https://varhowto.com/install-pytorch-cuda-10-1/
# mecab-python @ git+https://bitbucket.org/eunjeon/mecab-python-0.996.git@ac44c1e23785be09bb60f29b83f2463848314796

transformers==4.12.5

tweepy==3.10.0
namu-wiki-extractor==0.2.2

numpy==1.18.0
scikit-learn==0.24.1
scipy

sentencepiece==0.1.96
konlpy==0.5.2

tqdm
attrdict

soynlp==0.0.493

tensorboard==2.3.0


# KLUE
pytorch-lightning==1.1.0
fsspec==2021.4.0 # due to pytorch lightning
overrides==3.1.0
seqeval
