torch==1.4.0
transformers==2.11.0

tweepy==3.10.0
namu-wiki-extractor==0.2.2

numpy
scikit-learn
scipy

sentencepiece==0.1.96
mecab-python @ git+https://bitbucket.org/eunjeon/mecab-python-0.996.git@ac44c1e23785be09bb60f29b83f2463848314796
konlpy==0.5.2

tqdm
attrdict
