torch==1.4.0    # https://pytorch.org/get-started/previous-versions/                                                        # pip install torch==1.5.0+cu101 torchvision==0.6.0+cu101 -f https://download.pytorch.org/whl/torch_stable.html
                # pip3 install torch==1.7.0 torchvision==0.8.1 -f https://download.pytorch.org/whl/cu101/torch_stable.html  # https://varhowto.com/install-pytorch-cuda-10-1/
transformers==4.12.3

tweepy==3.10.0
namu-wiki-extractor==0.2.2

numpy==1.18.0
scikit-learn
scipy

sentencepiece==0.1.96
mecab-python @ git+https://bitbucket.org/eunjeon/mecab-python-0.996.git@ac44c1e23785be09bb60f29b83f2463848314796
konlpy==0.5.2

tqdm
attrdict

soynlp==0.0.493

tensorboard==2.3.0
